@font-face {
  font-family: Fantasque;
  src: url(fonts/FantasqueSansMono-Regular.woff2) format("woff2"),
       url(fonts/FantasqueSansMono-Regular.woff) format("woff"),
       url(fonts/FantasqueSansMono-Regular.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Fantasque;
  src: url(fonts/FantasqueSansMono-Italic.woff2) format("woff2"),
       url(fonts/FantasqueSansMono-Italic.woff) format("woff"),
       url(fonts/FantasqueSansMono-Italic.svg) format("svg");
  font-weight: normal;
  font-style: italic;
}